<launch>
   <node
      pkg="turtlesim"
      type="turtlesim_node"
      name="turtlesim"
   />
   <node
      pkg="fast_yellow"
      type="publevel_with_max"
      name="publish_velocity"
   >
      <param name ="max_vel" value="3" />
   </node>
   <node
      pkg="fast_yellow"
      type="set_bg_color"
      name="set_bg_color"
   />
</launch>
	
